services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: dicom-anonymizer-backend
    ports:
      - "5000:5000"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    volumes:
      - ./frontend/nginx.local.conf:/etc/nginx/conf.d/default.conf:ro
    container_name: dicom-anonymizer-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
